<footer>
<p>
  This site is owned and maintained by <a href="https://dhniels.com">Dave Nielsen</a>. Feel free to <a href="/contact">send me a message</a> anytime. I don't maintain a social media presence, but you can <a href="https://dhniels.com">visit my personal website</a>, find my code on <a href="https://github.com/dhniels">GitHub</a>, or message me directly on <a href="#">Telegram</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
