// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$page-color: #fef8e6;
$text-color: #333;
$main-color: #f5c205;
$accent-color: #932d02;
